.header {
  width: 100%;
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 20;

  .header__container {
    width: min(1322px, 100%);
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    .navigation__list {
      padding: 8px;
      width: 100%;
      max-width: fit-content;
      height: 100%;
      border: 2px solid var(--black);
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 18px;
      color: var(--black);

      a {
        border-radius: 39px;
        padding: 7px 15px;
        transition: background-color 100ms ease;
        &:hover {
          background-color: var(--green);
        }
      }
    }

    .header__socials {
      display: flex;
      align-items: center;
      gap: 8px;

      > a {
        border: 2px solid var(--black);
        border-radius: 50px;
        width: 140px;
        height: 100%;
        display: flex;
        align-items: center;
      }

      a {
        &:hover {
          svg {
            transition: scale 200ms ease;
            scale: 1.06;
          }
        }
      }

      .socials__wrap {
        width: 102px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 2px solid var(--black);
        border-radius: 50px;

        a {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
