@font-face {
  font-family: "TT Travels";
  src: url("../public/fonts/TTTravels-Bold.ttf");
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../public/fonts/gothampro.ttf");
}

:root {
  --font-family: "TT Travels", sans-serif;
  --second-family: "Gotham Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: #fff;
  color: #fff;
}

.scroll-off {
  max-height: 100vh;
  overflow: hidden;
}

.tooltip {
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 24px;
  position: fixed;
  top: 10%;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  transition: opacity 400ms ease;
  z-index: 21;
}

.tooltip.visible {
  opacity: 1;
}
