@font-face {
  font-family: "TT Travels";
  src: url("../public/fonts/TTTravels-Bold.ttf");
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../public/fonts/gothampro.ttf");
}

:root {
  --font-family: "TT Travels", sans-serif;
  --second-family: "Gotham Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: #fff;
  color: #fff;
}
